<!DOCTYPE HTML>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div class="card">
            <p id="cardTitle">{{title}}</p>
            <div id=imgWrapper">
                <img src="{{url}}" />
            </div>
            <p id="cardDescriprion">{{description}}</p>
            <input id="cardButton" type="button" value="GO" onClick='location.href="{{button_url}}"'>
        </div>
    </body>
</html>